
<div class="mycontainer">

  <p class="txt">New Arrivals</p>
  <div class="mytxt">
    <p class="txt1">
     We have many of styles at Watches.com..., and these are the latest additions. We specialize in only the most
     unique timepieces from around the world so check back often!

    </p>

  </div>
  <div class="container">
    <div class="box" *ngFor="let item of collection" [routerLink]="['/new/allnew',item.id]">


      <img src="{{item.url[0]}}" alt="wtch seric">
      <div class="overlay">
        <img src="{{item.url[1]}}" alt="wtch seric">
      </div>



      <p class="name">{{item.name}}</p>
      <p class="price">{{item.price | currency}}</p>

    </div>

  </div>



</div>
