<p class="txt">Most Popular Brands</p>
<div class="container">
  <div class="box one">
    <p class="txt">Xeric</p>
    <p class="txt1">Eye-catching time machine for everyone</p>
    <button routerLink="/all/xerix" (click)="getWatch4()">SHOP XERIC</button>
  </div>
  <div class="box two">
    <p class="txt">Archetype</p>
    <p class="txt1">Affordable mechanical marvels for your wrist</p>
    <button routerLink="/all/archetype" (click)="getWatch1()">SHOP ARCHETUPE</button>
  </div>
  <div class="box three">
    <p class="txt">Times on Sale</p>
    <p class="txt1">6 models to choose from</p>
    <button routerLink="/all/times" (click)="getWatch2()">SHOP TIMES</button>
  </div>
  <div class="box four">
    <p class="txt">G-Shock</p>
    <p class="txt1">Shop our full selection of limited editions</p>
    <button routerLink="/all/gshock" (click)="getWatch3()">SHOP G-SHOCK</button>
  </div>
</div>
