
<app-logo></app-logo>
<app-mynavbar></app-mynavbar>
<div class="container">



<p class="txt">Login</p>
   <form>

<div class="col">
 <label><span>*</span>Email address</label>
  <input class="form-control myinp" type="text" id="email" placeholder="Email address" name='email' [(ngModel)]="email"
    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
    <label><span>*</span>Password</label>
 <input class="form-control" [type]="show ? 'text' : 'password'" id="password" placeholder="Password"
   name="password" [(ngModel)]="password" required>
       <span class="field-icon " (click)="showPsd()"><i class="fa"
           [ngClass]="{'fa-eye':show,'fa-eye-slash':!show}"></i></span>

</div>

 <button class="btn" (click)="login()">Sign in</button>

 <p class='mytxt'>Or,Continue with</p>

 <button class='googlebtn'(click)="signIn()">
   <img class='googleimg'src=".././assets/img/google.png" alt="google picture">
  <span>Sign in with Google</span>
</button>

<button class='btn-signOut'(click)="logOut()">Log out</button>
<div class="account">
  <span>Don't have an account? <a routerLink="/register/registeruser">Sign up</a></span>

</div>

   </form>

</div>
<app-mybrands></app-mybrands>
<app-mymotto></app-mymotto>

<app-myfooter></app-myfooter>