.mycontainer{
.txt{
    position: relative;
   bottom:40px;
    text-align: center;
    font-size:2em;
    font-weight:700;
}
.mytxt{
    position: relative;
 bottom:30px;
    text-align: center;
    line-height:10px;
    .txt1{
        text-align: center;
        letter-spacing: 1px;

    }
  

}

.container {


    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .box {
        display: inline-block;
        position: relative;
        margin: 10px;
        width: 400px;
        height: 450px;


img{
    position: relative;

        width:350px;
        display: block;
        margin-left: auto;
        margin-right: auto;

     object-fit:cover;

}
.overlay{
     position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  &:hover {
       opacity: 1;
  }
}



    .name{
        text-decoration: none;
        font-size: 15px;
        color: black;
        display: block;
        text-align: center;

    }
.price{
    position: relative;
    bottom:10px;
    text-align: center;
}

    }
    .star{
        position: relative;
    bottom:15px;
        text-align: center;
        color:gold;
        font-size:20px;
        .myicon{
            margin-left:1px;
        }
    }
    .rev{
        position: relative;
        bottom:10px;
        text-align: center;
    }


}
}